<div id="particles-js"></div> 
<div class="container">

    <div>
        <h2 class="text-center">What is crypto Money Raiser</h2>
        <p>
            Crypto Money Raiser is a crowd funding platform based on Bloackchain technology.
           <br> The key difference is other crowd funding platform charges processing fees for starting any campaign and at end charges 5-12% from the total amount.
            So the fund raiser don't get complete amount.
            <br>  Here our platform comes as a saviour, we dont charge any processing fees which means raiser gets all the defined amount, above these, the raiser also gets the benefits of 
            Blockchain technology like security, Trustless exchange, transparency,
            durability, reliability, and longevity.
        </p>
    </div>
    <app-display></app-display>
    <app-sign-in></app-sign-in>

    <app-new-campaign></app-new-campaign>
    <app-contribute></app-contribute>
    <app-withdraw></app-withdraw>
</div>