

  <div class="card">
      <h5 class="card-header">Contribute</h5>
      <div class="card-body">
        <form>
  
          <div class="form-group">
            <label for="exampleFormControlInput1">Campaign Id</label>
            <input type="number" class="form-control" name="campaignId" [(ngModel)]="campaignId" placeholder="Campaign Id - 1">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Contribute in Ether</label>
            <input type="text" class="form-control" name="contributeValue" [(ngModel)]="contributeValue" placeholder="1000">
          </div>
          <button type="submit" class="btn btn-info" (click)="contribute()">Contribute</button>
        </form>
  
      </div>
    </div>